<section class="about">
  <div class="container">
    <h2 class="section-title">About Me</h2>
    <div class="about-content">
      <img class="profile-picture" src="{{profilePicture}}" alt="{{name}}">
      <p>{{description}}</p>
    </div>

    <div class="interests" >
      <h3 class="interests-title">Interests & Favorites</h3>
        <div *ngFor="let categoryKey of getCategoryKeys()">
  <h3>{{ categoryKey }}</h3>
  <ul>
    <li *ngFor="let item of categoryLists[categoryKey]">
      <a [href]="item.link" target="_blank" rel="noopener noreferrer">{{ item.name }}</a>
    </li>
  </ul>
</div>

 
       </div>
    </div>
</section>
