<section class="contact">
  <div class="container">
    <h2 class="section-title">Get in Touch</h2>
    <p>If you're interested in working with me or just want to say hello, feel free to reach out:</p>
    <div class="contact-details">
      <div class="contact-detail" *ngFor="let detail of contactDetails">
        <fa-icon [icon]="detail.icon" class="contact-icon"></fa-icon> 
        <a class="contact-link" href="{{detail.link}}" target="_blank">{{detail.label}}</a>
      </div>
    </div>
  </div>
</section>