<div>
  <h1>My Favorite Board Games! </h1>

  <div id="description">
    I'm always looking for new board games in the modern / euro categories. Let me know if you find one that is cooperative too those ones usually end up the most fun at our table.

    As a long time player of 4x strategy games board games have been an interesting. 
    I came to modern board games after playing these strategy games which I think is opposite the approach the games. 
  </div>
  <ul>
    <li *ngFor="let favorite of favoriteBG">
      {{ favorite.name }}
    </li>
  </ul>
</div>