<div class="container">
  <h1>My Portfolio</h1>
  <nav>

  </nav>
</div>
<div class="navbar-fixed">
  <nav class="z-depth-0 white animate__animated animate__slideInDown animate__delay-1s">
    <div id="navbar" class="nav-wrapper">
      <ul class="right flex-container">
        <li *ngFor="let link of links" [ngClass]="currentRoute === link.url ? 'active' : ' '">
          <a class="light-blue-text text-lighten-5" routerLink="{{ link.url }}">{{ link.title }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>